{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    
<style> 
input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #5489ec;
  color: white;
}
input[type=number] {
  width: 14%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #5489ec;
  color: white;
  size: 70px;
}
table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
    }
    th, td {
      background-color: #14c23a;
    }
</style>
</head>
<body>
    <h1 style="background-color: #96D4D4;">Choose a Customer ID to delete a Customer</h1>  
    <div class="pushLeft">
      <h3 style="background-color: cyan; width: fit-content;">{{msg}}</h3>
    </div>

<form action="/removeCustomer" method="POST">
  
  <input type="number" name="customerID" placeholder="Enter ID Here" required> <br>
  
  <button type="submit" style="background-color: yellow; width: 80px; height: 50px;">Remove A Customer</button>
  
</form><br><br>
<button onclick="window.location.href='/'"" class="button button2" style="width: 7%; height: 50px; background-color: slateblue; font-size: large;">Back to Action</button>

</body>
{%endblock%}
</html>