{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    
<style> 
input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #5489ec;
  color: white;
}
input[type=number] {
  width: 14%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #5489ec;
  color: white;
  size: 70px;
}
table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
    }
    th, td {
      background-color: #14c23a;
    }
</style>
</head>
<body>
  <h1 style="background-color: #14c23a; width: fit-content;">Enter a Book Name or keyword to find a book</h1>
<div class="pushLeft">
  <h3 style="background-color: cyan; width: fit-content;">{{msg}}</h3>
</div>
<form action="/findBook" method="POST">
  
  <input type="text" name="bookName" placeholder="Enter keyword" required> <br>
  
  <button type="submit" style="background-color: yellow; width: 80px; height: 50px;">Find A book</button>
  
</form><br><br>

<div class="pushLeft">
    <table style="border: 0pt; text-align: center;"
        <tr>
            <th>Book ID</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Year Published</th>
            <th>Book Type</th>
        </tr>
        {% for row in filteredBooks %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
        </tr>
        {% endfor %}
    </table>

</div><br>
<button onclick="window.location.href='/'"" class="button button2" style="width: 7%; height: 50px; background-color: slateblue; font-size: large;">Back to Action</button>
<br>
</body>
{%endblock%}
</html>